@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand100: #374fc8;
  --brand200: #3a55d9;
  --gray100: #22262a;
  --gray200: #353b41;
  --gray300: #484f56;
  --gray400: #878f97;
  --gray500: #adb5bd;
  --gray600: #eaedf0;
  --gray700: #f0f2f4;
  --gray800: #f9fafb;
  --gray900: #fafdff;
  --alert100: #c83751;
  --alert200: #db3d5a;
  --success100: #087d5a;
}

body {
  font-family: "Inter, sans-serif";
}
.font3-500 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.font4-400 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.font4-500 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.font5-400 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

.font5-500 {
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.font1-600 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray100);
}
.font2-500{
  font-family: IBM Plex Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
 
}
.font2-600{
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

}
.hide{
  display: none;
}
.input-wrong{
  border: 1px solid var(--alert100);
}
button{
  cursor: pointer;
}
.font1-nunito{
font-family: 'Nunito', sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: var(--gray400);
}

